.vi{
    text-align:center;
    margin:40px;
    border:10px solid #dbdbdb;
    border-radius: 4px;
    padding:20px;

}


header{
    height:100px;
    font-size:40px;
    color:black;
    text-align:center;
    background-color:#ffcd3c;
    font-family: 'Odibee Sans', cursive;
    
}
.v1{
    margin:40px;
}
.v2{
    
}
body{
    background-color: #2fc4b2;
}